.snakemake
.claude
.env/
.DS_Store
docs/superpowers/
resources/genomes/
resources/indexes/
Cluster_logs/
Maintainance/
benchmarks/
resources/
CLAUDE.md
trimmed/
graphs/
mapped/
biblio/
condarc
fixed/
dedup/
calls/
logs/
raw/
qc/
.worktrees/
.superpowers/
.markdownlint.json
transfer_results.sh

