.snakemake
.claude
.env/
.DS_Store
resources/genomes/
resources/indexes/
Cluster_logs/
benchmarks/
resources/
CLAUDE.md
trimmed/
graphs/
mapped/
condarc
fixed/
dedup/
calls/
logs/
raw/
qc/.worktrees/
