fastq_screen_config = {
    'database': {
        'Phix': {
            'bwa': 'resources/indexes/bwa/Phi-X174'
        },
        'Adapters': {
            'bwa': 'resources/indexes/bwa/Adapters'
        },
        'Vectors': {
            'bwa': 'resources/indexes/bwa/UniVec_wo_phi-X174'
        },
        'Anopheles': {
            'bwa': 'resources/indexes/bwa/Anopheles-gambiae-PEST_CHROMOSOMES_AgamP4'
        },
        'Aedes': {
            'bwa': 'resources/indexes/bwa/GCF_035046485.1_AalbF5_genomic'
        },
    },
    'aligner_paths': { 'bwa': '/shared/ifbstor1/software/miniconda/envs/bwa-0.7.17/bin/bwa' }
}